In [ ]:
import requests
from bs4 import BeautifulSoup
import csv

def ambil_data1(link):
  url = link

  response = requests.get(url)
  html = response.content

  soup = BeautifulSoup(html, 'html.parser')
  table = soup.find_all('table')[18]


  rows = []
  for row in table.find_all('tr'):
    cells = []
    for cell in row.find_all('td'):
        cells.append(cell.text)
    rows.append(cells)


  with open('data1.csv', 'w') as f:
    writer = csv.writer(f)
    writer.writerows(rows)

def ambil_data2(link):
  url = link

  response = requests.get(url)
  html = response.content

  soup = BeautifulSoup(html, 'html.parser')
  table = soup.find_all('table')[18]


  rows = []
  for row in table.find_all('tr'):
    cells = []
    for cell in row.find_all('td'):
        cells.append(cell.text)
    rows.append(cells)


  with open('data2.csv', 'w') as f:
    writer = csv.writer(f)
    writer.writerows(rows)

In [ ]:
ambil_data1('https://www.andrafarm.co.id/_andra.php?_i=daftar-tkpi&jobs=&perhal=600&urut=1&asc=0000000000&sby=&no1=2&knama=')
ambil_data2('https://www.andrafarm.co.id/_andra.php?_i=daftar-tkpi&jobs=&perhal=600&urut=1&asc=0000000000&sby=&no1=1&no2=600&kk=2#Tabel%20TKPI')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('drive/MyDrive/data_nutrisi.csv')

In [ ]:
df.columns

Index(['id', 'kode', 'makanan', 'air', 'kalori', 'protein', 'lemak',
       'karbohidrat', 'serat', 'abu', 'kalsium', 'fosfor', 'besi', 'natrium',
       'kalium', 'tembaga', 'seng', 'vitamin A', 'beta karoten',
       'karoten total', 'vitamin B1', 'vitamin B2', 'Niasin', 'Vitamin C',
       'BDD', 'Mentah/Olahan', 'Kategori', 'Sumber'],
      dtype='object')

In [ ]:
column = ['air',  'protein', 'lemak',
       'karbohidrat', 'serat', 'abu', 'kalsium', 'fosfor', 'besi', 'natrium',
       'kalium', 'tembaga', 'seng', 'vitamin A', 'beta karoten',
       'karoten total', 'vitamin B1', 'vitamin B2', 'Niasin', 'Vitamin C']

def convert_to_numeric(value):
    if value == '-':
        return 0
    else:
        return pd.to_numeric(value.replace(',', '.'), errors='coerce')

# Apply the custom function to each element in the DataFrame
df[column] = df[column].applymap(convert_to_numeric)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1148 entries, 0 to 1147
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1148 non-null   int64
 1   kode           1148 non-null   object
 2   makanan        1148 non-null   object
 3   air            1148 non-null   float64
 4   kalori         1148 non-null   int64
 5   protein        1148 non-null   float64
 6   lemak          1148 non-null   float64
 7   karbohidrat    1148 non-null   float64
 8   serat          1148 non-null   float64
 9   abu            1148 non-null   float64
 10  kalsium        1148 non-null   float64
 11  fosfor         1148 non-null   float64
 12  besi           1148 non-null   float64
 13  natrium        1148 non-null   float64
 14  kalium         1105 non-null   float64
 15  tembaga        1146 non-null   float64
 16  seng           1148 non-null   float64
 17  vitamin A      1148 non-null   float64
 18  beta karoten   1148 non-null   float64
 19  karoten total  1148 non-null   float64
 20  vitamin B1     1148 non-null   float64
 21  vitamin B2     1148 non-null   float64
 22  Niasin         1148 non-null   float64
 23  Vitamin C      1148 non-null   float64
 24  BDD            1148 non-null   object
 25  Mentah/Olahan  1148 non-null   object
 26  Kategori       1148 non-null   object
 27  Sumber         1148 non-null   object
dtypes: float64(20), int64(2), object(6)
memory usage: 251.2+ KB

In [ ]:
df.head()

,id,kode,makanan,air,kalori,protein,lemak,karbohidrat,serat,abu,...,beta karoten,karoten total,vitamin B1,vitamin B2,Niasin,Vitamin C,BDD,Mentah/Olahan,Kategori,Sumber
0,1,AP001,Nasi,56.7,180,3.0,0.3,39.8,0.2,0.2,...,0.0,0.0,0.05,0.1,2.6,0.0,100,Olahan,Serealia,KZGPI-1990
1,2,AP002,Nasi tim,71.0,120,2.4,0.4,26.0,0.5,0.2,...,0.0,0.0,0.10,0.0,1.4,0.0,100,Olahan,Serealia,OKN-1992
2,3,AP003,Tapai beras,75.5,99,1.7,0.3,22.4,0.0,0.1,...,0.0,0.0,0.00,0.0,0.0,0.0,100,Olahan,Serealia,KZGMI-2001
3,4,AP004,"Tepung beras, mentah",12.0,353,7.0,0.5,80.0,2.4,0.5,...,0.0,0.0,0.12,0.1,1.2,0.0,100,Olahan,Serealia,DABM-1964
4,5,AP005,Nasi beras merah,64.0,149,2.8,0.4,32.5,0.3,0.3,...,0.0,0.0,0.06,0.0,1.6,0.0,100,Olahan,Serealia,KZGPI-1990

In [ ]:
column_tidak_berguna = ['id', 'kode', 'abu', 'kalsium', 'fosfor', 'besi', 'natrium',
       'kalium', 'tembaga', 'seng', 'vitamin A', 'beta karoten',
       'karoten total', 'vitamin B1', 'vitamin B2', 'Niasin', 'Vitamin C',
       'BDD', 'Sumber']

df = df.drop(column_tidak_berguna, axis =1)

In [ ]:
df['Mentah/Olahan'].value_counts()

Olahan     588
Tunggal    560
Name: Mentah/Olahan, dtype: int64

In [ ]:
bumbu = df[df['Kategori']=='Bumbu'].copy()
bumbu = bumbu.reset_index(drop=True)
bumbu

,makanan,air,kalori,protein,lemak,karbohidrat,serat,Mentah/Olahan,Kategori
0,Balichong,59.9,152,13.2,0.8,22.9,1.5,Olahan,Bumbu
1,Bekasam,65.5,116,11.9,4.9,6.1,3.5,Olahan,Bumbu
2,Bekasang,67.1,78,11.4,2.0,3.6,0.4,Olahan,Bumbu
3,Cuka,94.5,21,0.1,0.1,5.0,0.0,Olahan,Bumbu
4,Kecap,63.0,71,5.7,1.3,9.0,0.0,Olahan,Bumbu
5,Petis ikan,56.0,165,20.0,0.2,20.8,0.0,Olahan,Bumbu
6,Petis udang kering,8.3,345,23.8,1.4,59.3,0.0,Olahan,Bumbu
7,Petis udang pasta,39.0,220,15.0,0.9,38.0,2.3,Olahan,Bumbu
8,Saos tomat,69.5,110,2.0,0.4,24.5,0.9,Olahan,Bumbu
9,Tempoya,70.1,110,1.7,1.3,21.9,2.6,Olahan,Bumbu
10,Terasi,33.8,155,22.3,2.9,9.9,2.7,Olahan,Bumbu
11,Terasi dobo,58.4,191,33.1,3.6,6.6,1.6,Olahan,Bumbu
12,Terasi merah,40.0,174,30.0,3.5,5.6,2.2,Olahan,Bumbu
13,"Asam arang coklat, segar",66.1,130,0.5,1.1,30.9,1.5,Tunggal,Bumbu
14,"Asam arang merah, segar",75.9,99,0.8,1.6,20.3,2.8,Tunggal,Bumbu
15,"Asam kandis, kering",32.2,261,0.9,1.6,63.3,5.0,Tunggal,Bumbu
16,"Asam kandis, segar",81.5,75,0.2,1.1,16.1,3.4,Tunggal,Bumbu
17,"Asam masak pohon, segar",31.4,267,2.8,0.6,62.5,1.2,Tunggal,Bumbu
18,"Asam payak, segar",65.1,135,0.8,0.4,32.1,10.0,Tunggal,Bumbu
19,"Bawang merah, segar",88.0,46,1.5,0.3,9.2,1.7,Tunggal,Bumbu
20,"Bawang putih, segar",71.0,112,4.5,0.2,23.1,0.6,Tunggal,Bumbu
21,"Boros kunci, segar",90.0,40,1.0,0.8,7.2,1.0,Tunggal,Bumbu
22,"Boros laja (lengkuas), segar",93.0,26,1.0,0.3,4.7,1.1,Tunggal,Bumbu
23,"Cabai gembor merah, segar",90.8,38,1.6,0.8,6.3,1.6,Tunggal,Bumbu
24,"Cabai hijau, segar",93.4,26,0.7,0.3,5.2,2.6,Tunggal,Bumbu
25,"Cabai merah, kering",10.0,367,15.9,6.2,61.8,26.9,Tunggal,Bumbu
26,"Cabai merah, segar",90.9,36,1.0,0.3,7.3,1.4,Tunggal,Bumbu
27,"Cabai rawit, segar",71.2,120,4.7,2.4,19.9,15.2,Tunggal,Bumbu
28,"Cengkeh, kering",23.3,330,5.2,8.9,57.4,10.0,Tunggal,Bumbu
29,"Daun salam, bubuk",13.1,301,14.2,10.9,49.0,9.4,Tunggal,Bumbu
30,"Jahe, segar",55.0,51,1.5,1.0,10.1,12.0,Tunggal,Bumbu
31,Kemiri,7.0,675,19.0,63.0,8.0,3.0,Tunggal,Bumbu
32,"Ketumbar, kering",11.2,418,14.1,16.1,54.2,12.3,Tunggal,Bumbu
33,Kluwek,51.0,310,10.0,24.0,13.5,0.0,Tunggal,Bumbu
34,"Kunyit, segar",84.9,69,2.0,2.7,9.1,0.6,Tunggal,Bumbu
35,"Merica, kering",12.9,365,11.5,6.8,64.4,1.0,Tunggal,Bumbu
36,"Pala, biji, kering",14.3,518,7.5,36.4,40.1,3.5,Tunggal,Bumbu

In [ ]:
df = df[df['Kategori'] != 'Bumbu'].copy().reset_index(drop=True)

In [ ]:
olahan = df[df['Mentah/Olahan'] == 'Olahan'].copy()
olahan = olahan.reset_index(drop=True)

In [ ]:
olahan

,makanan,air,kalori,protein,lemak,karbohidrat,serat,Mentah/Olahan,Kategori
0,Nasi,56.7,180,3.0,0.3,39.8,0.2,Olahan,Serealia
1,Nasi tim,71.0,120,2.4,0.4,26.0,0.5,Olahan,Serealia
2,Tapai beras,75.5,99,1.7,0.3,22.4,0.0,Olahan,Serealia
3,"Tepung beras, mentah",12.0,353,7.0,0.5,80.0,2.4,Olahan,Serealia
4,Nasi beras merah,64.0,149,2.8,0.4,32.5,0.3,Olahan,Serealia
...,...,...,...,...,...,...,...,...,...
570,Sirup,44.0,213,0.0,0.0,55.0,0.0,Olahan,Gula
571,Sirup pirous,43.3,228,0.2,0.4,55.9,0.0,Olahan,Gula
572,Teh hijau daun kering,7.7,300,28.3,4.8,53.6,9.6,Olahan,Gula
573,Teh hitam daun kering,8.0,293,24.5,2.8,58.8,8.7,Olahan,Gula
574,Teh melati daun kering,8.1,299,24.1,3.5,59.0,9.7,Olahan,Gula

In [ ]:
df = df[df['Mentah/Olahan'] != 'Olahan'].copy().reset_index(drop=True)
df['Mentah/Olahan'].value_counts()

Tunggal    536
Name: Mentah/Olahan, dtype: int64

In [ ]:
tunggal = df[df['Mentah/Olahan'] == 'Tunggal'].copy()
tunggal = tunggal.reset_index(drop=True)

tunggal

,makanan,air,kalori,protein,lemak,karbohidrat,serat,Mentah/Olahan,Kategori
0,"Beras giling, mentah",12.0,357,8.4,1.7,77.1,0.2,Tunggal,Serealia
1,"Beras giling var pelita, mentah",11.4,369,9.5,1.4,77.1,0.4,Tunggal,Serealia
2,"Beras giling var rojolele, mentah",12.0,357,8.4,1.7,77.1,0.2,Tunggal,Serealia
3,"Beras hitam, mentah",12.9,351,8.0,1.3,76.9,20.1,Tunggal,Serealia
4,"Beras jagung kuning, kering, mentah",10.8,358,5.5,0.1,82.7,10.0,Tunggal,Serealia
...,...,...,...,...,...,...,...,...,...
531,Minyak kelapa,0.0,870,1.0,98.0,0.0,0.0,Tunggal,Lemak
532,Minyak kelapa sawit,0.0,884,0.0,100.0,0.0,0.0,Tunggal,Lemak
533,Minyak wijen,0.1,881,0.2,99.7,0.0,0.0,Tunggal,Lemak
534,Minyak Zaitun,0.0,884,0.0,100.0,0.0,0.0,Tunggal,Lemak
535,"Kelapa muda, air, segar",95.5,17,0.2,0.1,3.8,0.0,Tunggal,Minuman

In [ ]:
olahan

,makanan,air,kalori,protein,lemak,karbohidrat,serat,Mentah/Olahan,Kategori
0,Nasi,56.7,180,3.0,0.3,39.8,0.2,Olahan,Serealia
1,Nasi tim,71.0,120,2.4,0.4,26.0,0.5,Olahan,Serealia
2,Tapai beras,75.5,99,1.7,0.3,22.4,0.0,Olahan,Serealia
3,"Tepung beras, mentah",12.0,353,7.0,0.5,80.0,2.4,Olahan,Serealia
4,Nasi beras merah,64.0,149,2.8,0.4,32.5,0.3,Olahan,Serealia
...,...,...,...,...,...,...,...,...,...
570,Sirup,44.0,213,0.0,0.0,55.0,0.0,Olahan,Gula
571,Sirup pirous,43.3,228,0.2,0.4,55.9,0.0,Olahan,Gula
572,Teh hijau daun kering,7.7,300,28.3,4.8,53.6,9.6,Olahan,Gula
573,Teh hitam daun kering,8.0,293,24.5,2.8,58.8,8.7,Olahan,Gula
574,Teh melati daun kering,8.1,299,24.1,3.5,59.0,9.7,Olahan,Gula

In [ ]:
olahan = olahan[~olahan['makanan'].str.contains('mentah', case=False)].reset_index(drop=True)
olahan

,makanan,air,kalori,protein,lemak,karbohidrat,serat,Mentah/Olahan,Kategori
0,Nasi,56.7,180,3.0,0.3,39.8,0.2,Olahan,Serealia
1,Nasi tim,71.0,120,2.4,0.4,26.0,0.5,Olahan,Serealia
2,Tapai beras,75.5,99,1.7,0.3,22.4,0.0,Olahan,Serealia
3,Nasi beras merah,64.0,149,2.8,0.4,32.5,0.3,Olahan,Serealia
4,Bihun goreng instan,9.0,381,6.1,3.9,80.3,0.0,Olahan,Serealia
...,...,...,...,...,...,...,...,...,...
522,Sirup,44.0,213,0.0,0.0,55.0,0.0,Olahan,Gula
523,Sirup pirous,43.3,228,0.2,0.4,55.9,0.0,Olahan,Gula
524,Teh hijau daun kering,7.7,300,28.3,4.8,53.6,9.6,Olahan,Gula
525,Teh hitam daun kering,8.0,293,24.5,2.8,58.8,8.7,Olahan,Gula
526,Teh melati daun kering,8.1,299,24.1,3.5,59.0,9.7,Olahan,Gula

In [ ]:
gula = olahan[olahan['Kategori']=='Gula'].copy().reset_index(drop = True)
gula

,makanan,air,kalori,protein,lemak,karbohidrat,serat,Mentah/Olahan,Kategori
0,"Coklat manis, batang",1.4,527,2.0,29.8,62.7,6.5,Olahan,Gula
1,"Coklat pahit,batang",2.3,615,5.5,42.6,29.2,10.8,Olahan,Gula
2,"Coklat susu, batang",1.0,565,9.0,35.0,53.6,3.4,Olahan,Gula
3,Coklat bubuk,3.9,311,8.0,4.0,48.9,32.6,Olahan,Gula
4,Gula aren,7.0,368,0.0,0.0,92.0,0.0,Olahan,Gula
5,Gula kelapa,10.0,386,3.0,10.0,76.0,0.0,Olahan,Gula
6,Gula putih,5.4,394,0.0,0.0,94.0,0.0,Olahan,Gula
7,"Jam, selai",34.0,239,0.5,0.6,64.5,1.0,Olahan,Gula
8,Kopi bubuk instant,2.6,129,12.3,0.5,35.0,0.0,Olahan,Gula
9,Madu,20.0,294,0.3,0.0,79.5,0.2,Olahan,Gula
10,Markisa squash,46.7,217,2.5,1.0,49.6,0.0,Olahan,Gula
11,"Markisa squash, BD",74.4,104,1.2,0.5,23.7,0.0,Olahan,Gula
12,Melase,21.2,276,0.0,0.1,71.0,0.0,Olahan,Gula
13,Sirup,44.0,213,0.0,0.0,55.0,0.0,Olahan,Gula
14,Sirup pirous,43.3,228,0.2,0.4,55.9,0.0,Olahan,Gula
15,Teh hijau daun kering,7.7,300,28.3,4.8,53.6,9.6,Olahan,Gula
16,Teh hitam daun kering,8.0,293,24.5,2.8,58.8,8.7,Olahan,Gula
17,Teh melati daun kering,8.1,299,24.1,3.5,59.0,9.7,Olahan,Gula

In [ ]:
olahan = olahan[olahan['Kategori'] != 'Gula'].copy().reset_index(drop= True)
olahan

,makanan,air,kalori,protein,lemak,karbohidrat,serat,Mentah/Olahan,Kategori
0,Nasi,56.7,180,3.0,0.3,39.8,0.2,Olahan,Serealia
1,Nasi tim,71.0,120,2.4,0.4,26.0,0.5,Olahan,Serealia
2,Tapai beras,75.5,99,1.7,0.3,22.4,0.0,Olahan,Serealia
3,Nasi beras merah,64.0,149,2.8,0.4,32.5,0.3,Olahan,Serealia
4,Bihun goreng instan,9.0,381,6.1,3.9,80.3,0.0,Olahan,Serealia
...,...,...,...,...,...,...,...,...,...
504,"Yoghurt, segar",88.0,52,3.3,2.5,4.0,0.0,Olahan,Susu
505,Margarin,15.5,720,0.6,81.0,0.4,0.0,Olahan,Lemak
506,Mentega,16.0,742,0.5,81.6,1.4,0.0,Olahan,Lemak
507,Santan (dengan air),80.0,122,2.0,10.0,7.6,1.4,Olahan,Lemak
508,Santan murni,54.9,324,4.2,34.3,5.6,0.0,Olahan,Lemak

In [ ]:
olahan['Kategori'].value_counts()

Serealia    110
Kacang       83
Daging       82
Umbi         75
Ikan dsb     63
Sayur        61
Buah         15
Susu         11
Telur         5
Lemak         4
Name: Kategori, dtype: int64

In [ ]:
umbi = olahan[olahan['Kategori'] == 'Umbi'].copy().reset_index(drop = True)
umbi

,makanan,air,kalori,protein,lemak,karbohidrat,serat,Mentah/Olahan,Kategori
0,"Batatas kelapa, ubi, bakar",73.2,110,1.4,1.1,23.4,4.5,Olahan,Umbi
1,"Batatas kelapa, ubi, kukus",75.7,92,1.2,0.3,21.0,4.1,Olahan,Umbi
2,"Batatas tali, ubi, rebus",53.2,182,2.4,0.4,42.2,9.2,Olahan,Umbi
3,"Belitung, talas, kukus",63.1,145,1.2,0.4,34.2,1.0,Olahan,Umbi
4,"Bentul, talas, kukus",81.1,71,2.3,0.3,15.4,0.5,Olahan,Umbi
...,...,...,...,...,...,...,...,...,...
70,Tepung Ubi Ungu,9.4,354,2.8,0.6,84.4,12.9,Olahan,Umbi
71,Tiwul,11.2,353,2.4,1.1,83.4,6.5,Olahan,Umbi
72,Tiwul Instan,9.1,395,3.2,8.5,76.5,4.2,Olahan,Umbi
73,Ubi Cilembu,52.7,186,1.9,0.2,44.3,3.4,Olahan,Umbi
74,Uli batatas,66.5,150,1.1,4.0,27.4,0.0,Olahan,Umbi

In [ ]:
olahan = olahan[olahan['Kategori'] != 'Umbi'].copy().reset_index(drop= True)
olahan

,makanan,air,kalori,protein,lemak,karbohidrat,serat,Mentah/Olahan,Kategori
0,Nasi,56.7,180,3.0,0.3,39.8,0.2,Olahan,Serealia
1,Nasi tim,71.0,120,2.4,0.4,26.0,0.5,Olahan,Serealia
2,Tapai beras,75.5,99,1.7,0.3,22.4,0.0,Olahan,Serealia
3,Nasi beras merah,64.0,149,2.8,0.4,32.5,0.3,Olahan,Serealia
4,Bihun goreng instan,9.0,381,6.1,3.9,80.3,0.0,Olahan,Serealia
...,...,...,...,...,...,...,...,...,...
429,"Yoghurt, segar",88.0,52,3.3,2.5,4.0,0.0,Olahan,Susu
430,Margarin,15.5,720,0.6,81.0,0.4,0.0,Olahan,Lemak
431,Mentega,16.0,742,0.5,81.6,1.4,0.0,Olahan,Lemak
432,Santan (dengan air),80.0,122,2.0,10.0,7.6,1.4,Olahan,Lemak
433,Santan murni,54.9,324,4.2,34.3,5.6,0.0,Olahan,Lemak

In [ ]:
Buah = olahan[olahan['Kategori'] == 'Buah'].copy().reset_index(drop = True)
Buah

,makanan,air,kalori,protein,lemak,karbohidrat,serat,Mentah/Olahan,Kategori
0,Barongko,66.7,159,3.1,5.8,23.5,0.0,Olahan,Buah
1,Dodol nanas,16.1,338,1.5,1.2,80.3,0.0,Olahan,Buah
2,Getuk pisang,63.7,144,1.1,0.4,34.1,0.4,Olahan,Buah
3,Keripik lampung,5.0,485,1.7,22.2,69.7,0.6,Olahan,Buah
4,Ledre pisang,3.6,405,4.8,5.1,84.9,0.4,Olahan,Buah
5,Lempog durian,25.2,320,3.5,5.7,63.7,4.9,Olahan,Buah
6,Loka anjoro,63.3,163,1.1,4.3,30.0,0.0,Olahan,Buah
7,Rica-rica taipa,86.7,49,1.6,0.3,10.0,0.0,Olahan,Buah
8,Rujak aceh,78.7,82,0.4,0.3,19.7,2.4,Olahan,Buah
9,Sale kesemek,25.0,296,1.1,0.6,71.4,0.0,Olahan,Buah
10,Sale pisang siam,28.9,281,2.4,0.7,66.1,1.0,Olahan,Buah
11,"Sale pisang, cilacap",27.1,295,2.3,2.1,66.9,1.3,Olahan,Buah
12,Sanggara belanda,47.1,242,6.4,7.1,38.2,0.0,Olahan,Buah
13,Tepung Pisang,13.8,338,2.9,0.4,80.6,5.3,Olahan,Buah
14,Tepung Sukun,10.1,353,2.9,0.5,84.4,3.7,Olahan,Buah

In [ ]:
olahan = olahan[olahan['Kategori'] != 'Buah'].copy().reset_index(drop= True)
olahan

,makanan,air,kalori,protein,lemak,karbohidrat,serat,Mentah/Olahan,Kategori
0,Nasi,56.7,180,3.0,0.3,39.8,0.2,Olahan,Serealia
1,Nasi tim,71.0,120,2.4,0.4,26.0,0.5,Olahan,Serealia
2,Tapai beras,75.5,99,1.7,0.3,22.4,0.0,Olahan,Serealia
3,Nasi beras merah,64.0,149,2.8,0.4,32.5,0.3,Olahan,Serealia
4,Bihun goreng instan,9.0,381,6.1,3.9,80.3,0.0,Olahan,Serealia
...,...,...,...,...,...,...,...,...,...
414,"Yoghurt, segar",88.0,52,3.3,2.5,4.0,0.0,Olahan,Susu
415,Margarin,15.5,720,0.6,81.0,0.4,0.0,Olahan,Lemak
416,Mentega,16.0,742,0.5,81.6,1.4,0.0,Olahan,Lemak
417,Santan (dengan air),80.0,122,2.0,10.0,7.6,1.4,Olahan,Lemak
418,Santan murni,54.9,324,4.2,34.3,5.6,0.0,Olahan,Lemak

In [ ]:
olahan['Kategori'].value_counts()

Serealia    110
Kacang       83
Daging       82
Ikan dsb     63
Sayur        61
Susu         11
Telur         5
Lemak         4
Name: Kategori, dtype: int64

In [ ]:
Kacang = olahan[olahan['Kategori'] == 'Kacang'].copy().reset_index(drop = True)
Kacang

,makanan,air,kalori,protein,lemak,karbohidrat,serat,Mentah/Olahan,Kategori
0,"Kacang belimbing (kecipir), rebus",55.6,204,16.9,8.8,17.5,4.8,Olahan,Kacang
1,"Kacang bogor, goreng",3.0,479,12.7,23.2,58.9,1.2,Olahan,Kacang
2,"Kacang bogor, rebus",61.2,161,7.7,2.8,27.1,2.0,Olahan,Kacang
3,"Kacang gude, rebus",61.5,147,9.0,0.5,27.5,3.4,Olahan,Kacang
4,"Kacang hijau, rebus",71.3,109,8.7,0.5,18.3,1.5,Olahan,Kacang
...,...,...,...,...,...,...,...,...,...
78,Tempe pasar,68.3,150,14.0,7.7,9.1,1.4,Olahan,Kacang
79,Tempe pasar goreng,42.9,336,20.0,28.0,7.8,3.4,Olahan,Kacang
80,Tepung hunkwe (pati kacang ijo),10.0,364,4.5,1.0,83.5,16.1,Olahan,Kacang
81,Tepung Jalejo,10.0,388,19.0,7.5,61.2,5.8,Olahan,Kacang
82,Tepung kacang kedelai,9.0,347,35.9,20.6,29.9,5.8,Olahan,Kacang

In [ ]:
olahan = olahan[olahan['Kategori'] != 'Kacang'].copy().reset_index(drop= True)
olahan

,makanan,air,kalori,protein,lemak,karbohidrat,serat,Mentah/Olahan,Kategori
0,Nasi,56.7,180,3.0,0.3,39.8,0.2,Olahan,Serealia
1,Nasi tim,71.0,120,2.4,0.4,26.0,0.5,Olahan,Serealia
2,Tapai beras,75.5,99,1.7,0.3,22.4,0.0,Olahan,Serealia
3,Nasi beras merah,64.0,149,2.8,0.4,32.5,0.3,Olahan,Serealia
4,Bihun goreng instan,9.0,381,6.1,3.9,80.3,0.0,Olahan,Serealia
...,...,...,...,...,...,...,...,...,...
331,"Yoghurt, segar",88.0,52,3.3,2.5,4.0,0.0,Olahan,Susu
332,Margarin,15.5,720,0.6,81.0,0.4,0.0,Olahan,Lemak
333,Mentega,16.0,742,0.5,81.6,1.4,0.0,Olahan,Lemak
334,Santan (dengan air),80.0,122,2.0,10.0,7.6,1.4,Olahan,Lemak
335,Santan murni,54.9,324,4.2,34.3,5.6,0.0,Olahan,Lemak

In [ ]:
olahan['Kategori'].value_counts()

Serealia    110
Daging       82
Ikan dsb     63
Sayur        61
Susu         11
Telur         5
Lemak         4
Name: Kategori, dtype: int64

In [ ]:
olahan

,makanan,air,kalori,protein,lemak,karbohidrat,serat,Mentah/Olahan,Kategori
0,Nasi,56.7,180,3.0,0.3,39.8,0.2,Olahan,Serealia
1,Nasi tim,71.0,120,2.4,0.4,26.0,0.5,Olahan,Serealia
2,Tapai beras,75.5,99,1.7,0.3,22.4,0.0,Olahan,Serealia
3,Nasi beras merah,64.0,149,2.8,0.4,32.5,0.3,Olahan,Serealia
4,Bihun goreng instan,9.0,381,6.1,3.9,80.3,0.0,Olahan,Serealia
...,...,...,...,...,...,...,...,...,...
331,"Yoghurt, segar",88.0,52,3.3,2.5,4.0,0.0,Olahan,Susu
332,Margarin,15.5,720,0.6,81.0,0.4,0.0,Olahan,Lemak
333,Mentega,16.0,742,0.5,81.6,1.4,0.0,Olahan,Lemak
334,Santan (dengan air),80.0,122,2.0,10.0,7.6,1.4,Olahan,Lemak
335,Santan murni,54.9,324,4.2,34.3,5.6,0.0,Olahan,Lemak

In [ ]:
olahan.to_csv('olahan.csv', index=False)
tunggal.to_csv('tunggal.csv', index=False)
gula.to_csv('gula.csv', index=False)
umbi.to_csv('umbi.csv', index=False)
Buah.to_csv('Buah.csv', index=False)
Kacang.to_csv('Kacang.csv', index=False)